
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}



/* body {
  height: 100%;
  width: 100%
  font-family: 'poppins',sans-serif;
  color: #222;

} */

.navbar{
  padding: .8rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,0.6)!important;
  
} 
.navbar-brand img {
  height: 1.7rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.nav-link{
  font-size: 1.1em !important;
}
.navbar-dark .navbar-nav .nav-link{
  padding-top: .5rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #1ebba3;
}
/*--- Landing --*/
.home-inner{
  background-image: url(img/Nepal-provinces-map.jpg);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.caption{
  width: 100%;
  max-width: 100%;

z-index:2;
color:rgb(49, 44, 44) ;
/* text-shadow: 3px 3px black; */

background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid #f1f1f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
  position: absolute;
}


.carousel-inner img{
  width:100%;
  height:100%;
}
/* .btn-outline-success: hover{
  background-color: teal;
  border: 1px solid teal;
} */


/*--- Testimonial --*/
.offset:before{
  display: block;
  content: "";
  height: 4rem;
  margin-top:-4rem;
}
 
 .Testimonial img {
  width: 100%; 
  border-radius: 75%; 
 }

 blockquote .svg-inline--fa.fa-w-16{
  color: teal;
  margin: 1rem;
 }

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
}

.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: teal;
  margin: 0 auto 2rem;

}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.Testimonial-hr{
  border-top: .05rem solid teal;
}

/*--- Search box --*/
.search-box {
 position:absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: teal;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.search-box:hover > .search-txt {
 width: 240px;
 padding: 0 6px;
}

.search-box:hover > .search-btn {
 background: white;
 color: black;
}

.search-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: teal;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.search-btn > i {
 font-size: 30px;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 width: 0px;

}
.Socialmediafooter{
  background-color: white;
}
.Socialmediafooter a{
  font-size: 1.5em;
  padding: 1rem;

}
.fa-facebook-f{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-google-plus-g{
  color: #dd5b39;
}
.fa-instagram{
  color:gray;
}


.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover{
  color: #d5d5d5;
}
.room-section img{
height: 12rem;
width: 18rem;
}
